<md-tab-group class="main-tab-group">
  <ng-container *ngFor="let tab of tabs">
    <md-tab *ngIf="tab.show">
      <ng-template md-tab-label>
        <span>{{tab.label}}</span>
        <ng-container>
          <md-icon mdTooltip="关闭" mdTooltipPosition="right" (click)="onTabClose($event,tab)">close</md-icon>
        </ng-container>
      </ng-template>
      <div class="main-tab-content">
        <div [app-html-outlet]="''" [html]="'<app-dy-task-list></app-dy-task-list>'"></div>
      </div>
    </md-tab>
  </ng-container>
</md-tab-group>
